<div class="row mt-4">
    <div class="col-md-6 offset=3" style="margin-left: 13%;">
        <fusioncharts width="550" height="400" type="AngularGauge" [dataSource]="dataSource">
        </fusioncharts>
    </div>
    <div id="profit" class="col-md-4 " style="width: 90%; height: 400px;margin-left: 8%;">
    </div>
    
    <div class="col-md-6 " >
        <div id="chartdiv2" style="width: 90%; height: 400px">
        </div>
    </div>
</div>


<div>
    <div class="col-md-6  mt-3" >
        <div id="chartdiv1" style="width: 90%; height: 400px">
        </div>
    </div>
</div>
